.numberList{

}
.listItem{
    list-style: none;
    display: inline;
    margin-left: 10px;
    background-color: blueviolet;
    padding: 10px;
}
.listItem:hover{
    background-color: red;
    cursor: pointer;
}